html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "APHont", Helvetica, sans-serif;
  text-align: center;
}

main{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

section{
  height: 100%;
}

#map, #destMap{
  height: 100%;
}

#about{
  color: white;
  font-size: 1.5em;
  text-align: center;
}
ul{
  list-style-type: none;
}

 label{
  display: block;
}

#address{
  /*float: left;*/
}
