html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

main{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

section{
  height: 100%;
}

#map{
  height: 100%;
}

#about{
  color: white;
  font-size: 1.5em;
  text-align: center;
}
ul{
  list-style-type: none;
}
