/*landing page*/

.overlaySection{
  width: 35%;
  text-align: center;
  background: black;
}

.overlaySection:first-child{
  float: left;
}

.overlaySection:nth-child(2){
  float: right;
}

/*destinations*/
#errormessage{
  display:none;
}
