header {
    text-align: center;
   }


h3 {
   font-weight: bold;
}

#menu {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

#menu ul {
    height: 80%;
    padding: 0, 3%;
}

#menu li {
    display: inline;
    padding: 0 3%;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
}
