header img{
  margin-top: 3%;
  width: 35%;
}

h3 {
  margin-top: 0;
  margin-bottom: 4%;
  font-weight: bold;
}

#menu {
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

#menu ul {
    height: 80%;
    padding: 0, 3%;
}

#menu li {
    display: none;
    padding: 3% 0;
}

#menu a {
    text-decoration: none;
    color: white;
}

#menu a:hover {
}

.currentpage {
  background: blue;
}

.icon-menu{
  color: white;
  font-size: 7em;
}

@media only screen and (min-width: 600px) {
  #menu li{
    display: inline;
  }
  .icon-menu{
    display: none;
  }
}
